ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
missing
test-driver

cygport
cygport.1
cygport-*.tar.xz
cygport-inplace
doc/manual/

patches
*.orig
*.rej

*.log
*.trs
