ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
missing

cygport
cygport.1
cygport.1.html
cygport-*.tar.bz2
cygport-*.tar.xz
cygport-inplace
manual.css
manual.html

patches
*.orig
*.rej
