ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
install-sh
missing

cygport
cygport.1
cygport.1.html
cygport-*.tar.bz2
manual.css
manual.html

patches
*.orig
*.rej
