# $Id$

options:
	--documenttitle "Cygport Reference"
	--index
	--masterindex "Index,index"
	--nopre
	--nosort
	--no_subdirectories
	--sections
	--sectionnameonly
	--syntaxcolors_enable "quotes,squotes,line_comments,keywords,non_alpha"
	--toc
items:
	ARGUMENTS
	AUTHOR
	BUGS
	COMMANDS
	DEFAULT MIRROR
	DEFINES
	DEFINITION
	DESCRIPTION
	ERRORS
	EXAMPLE
	FUNCTION
	HINT
	HINTS
	HISTORY
	IDEAS
	INHERITED BY
	INHERITS
	INPUT
	INPUTS
	INTRODUCTION
	METHODS
	MIRROR LIST
	NAME
	NOTE
	NOTES
	OPTIONS
	OUTPUT
	OVERLOADS
	OVERVIEW
	REQUIRES
	RESULT
	RESULTS
	RETURNS
	SEE ALSO
	SOURCE
	SYNOPSIS
	TAGS
	TODO
	USAGE
	USES
	VALUES
	WARNING
	WARNINGS
preformatted items:
	EXAMPLE
	SYNOPSIS
source items:
	DEFINITION
headertypes:
	*  "Concepts" cygport_concepts
	d  "Definitions" cygport_definitions
	f  "Functions" cygport_functions
	h  "Cygclasses" cygport_cygclasses
	o  "Overloads" cygport_overloads
	v  "Variables" cygport_variables
ignore files:
	autom4te.cache
	CYGWIN-PATCHES
	Makefile
	Makefile.in
	README
	cygport
	cygport-0.9.*
	doc
	html
	man
	patches
	tmp
	.svn
	*.css
	*.html
	*.rc
	*.orig
	*.refs
	*.rej
	*.stderr
	*.txt
	*~
header markers:
	#****
remark markers:
	#
end markers:
	#****
source line comments:
	#
