options:
	--documenttitle "Cygport Reference Manual"
	--index
	--nopre
	--nosort
	--no_subdirectories
	--sections
	--sectionnameonly
	--syntaxcolors_enable "quotes,squotes,line_comments,keywords,non_alpha"
	--toc
items:
	ARGUMENTS
	AUTHOR
	BUGS
	CHAPTER
	COMMANDS
	DEFAULT MIRROR
	DEFAULT VALUE
	DEFINES
	DEFINITION
	DESCRIPTION
	ERRORS
	EXAMPLE
	EXAMPLES
	FUNCTION
	HINT
	HINTS
	HISTORY
	IDEAS
	INHERITED BY
	INHERITS
	INPUT
	INPUTS
	INTRODUCTION
	LICENSE
	METHODS
	MIRROR LIST
	NAME
	NOTE
	NOTES
	OPTIONS
	OUTPUT
	OVERLOADS
	OVERVIEW
	REQUIRES
	RESULT
	RESULTS
	RETURNS
	SEE ALSO
	SOURCE
	SYNOPSIS
	TAGS
	TODO
	USAGE
	USES
	VALUES
	WARNING
	WARNINGS
preformatted items:
	DEFAULT VALUE
	EXAMPLE
	SYNOPSIS
source items:
	DEFINITION
	LICENSE
headertypes:
	*  "Concepts" cygport_concepts
	-  "Chapters" cygport_chapters
	d  "Definitions" cygport_definitions
	h  "Cygclasses" cygport_cygclasses
	o  "Overloads" cygport_overloads
	v  "Variables" cygport_variables
	f  "General Functions" cygport_general_functions
	C  "Compile Functions" cygport_compile_functions
	T  "Testsuite Functions" cygport_testsuite_functions
	I  "Install Functions" cygport_install_functions
	P  "Postinstall Steps" cygport_postinstall_steps
ignore files:
	autom4te.cache
	Makefile
	Makefile.in
	README
	aclocal.m4
	config.log
	config.status
	configure
	cygport
	cygport-inplace
	cygport-*.*.*
	cygport.spec
	doc
	gnuconfig
	install-sh
	html
	man
	missing
	patches
	tmp
	.git
	*.css
	*.diff
	*.html
	*.rc
	*.orig
	*.patch
	*.refs
	*.rej
	*.stderr
	*.txt
	*~
header markers:
	#****
remark markers:
	#
end markers:
	#****
source line comments:
	#
